# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Shawn M Moore <sartak@bestpractical.com> <sartak@gmail.com>
Shawn M Moore <sartak@bestpractical.com> Shawn Moore
Thomas Sibley <trs@bestpractical.com> <tsibley@cpan.org>
sunnavy <sunnavy@bestpractical.com> <sunnavy@gmail.com>
